<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Link al CSS de Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!--Link al CSS de Bootstrap icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <title>Bootstrap | Productos</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!--Con d-flex activamos el flexbox y con flex column que el flexbox sea en columna vertical-->
        <!--Barra de navegación + Header-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0a2540;">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img class="img-fluid p-2" src="../assets/img/logo_def.png" alt="Logo Web" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--Menu movil-->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-lg-none">
                        <!--Con ms-auto mueve los items del navbar a la derecha con me-auto los moveria a la izquierda al lado del logo-->
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./presupuesto.html">Presupuesto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <!--Menu página desktop-->
                    <div class="ms-auto d-none d-lg-flex gap-2">
                        <!--Con ms-auto mueve los items del navbar a la derecha con me-auto los moveria a la izquierda al lado del logo-->
                        <a class="btn btn-outline-light" href="../index.html">Home</a>
                        <a class="btn btn-light active" aria-current="page" href="./productos.html">Productos</a>
                        <a class="btn btn-outline-light" href="./presupuesto.html">Presupuesto</a>
                        <a class="btn btn-outline-light" href="./contacto.html">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>
        <!--Contenido-->
        <section class="container w-75">
            <div class="row justify-content-center align-items-center mt-3">
                <div class="col">
                    <h2 class="text-center">Productos</h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 py-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/Proyecto_1_WebCorporativa.png" class="card-img-top" alt="Web Corporativa">
                        <div class="card-body text-center">
                            <h5 class="card-title">Web corporativa</h5>
                            <p class="card-text">Diseño moderno para empresas.</p>
                            <a class="btn btn-primary" href="#">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/Proyecto_2_TiendaOnline.png" class="card-img-top" alt="Tienda online">
                        <div class="card-body text-center">
                            <h5 class="card-title">Tienda online</h5>
                            <p class="card-text">E-commerce optimizado para empresas.</p>
                            <a class="btn btn-primary" href="#">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/Proyecto_3_WebResponsive.png" class="card-img-top" alt="Web responsive">
                        <div class="card-body text-center">
                            <h5 class="card-title">Web responsive</h5>
                            <p class="card-text">Web adaptada para todos los dispositivos.</p>
                            <a class="btn btn-primary" href="#">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/Proyecto_4_Blog.png" class="card-img-top" alt="Blog">
                        <div class="card-body text-center">
                            <h5 class="card-title">Blog profesional</h5>
                            <p class="card-text">Blog optimizado para SEO.</p>
                            <a class="btn btn-primary" href="#">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/Proyecto_5_Portfolio.png" class="card-img-top" alt="Portfolio">
                        <div class="card-body text-center">
                            <h5 class="card-title">Portfolio</h5>
                            <p class="card-text">Web personal.</p>
                            <a class="btn btn-primary" href="#">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="../assets/img/Proyecto_6_LandingPage.png" class="card-img-top" alt="Landing page">
                        <div class="card-body text-center">
                            <h5 class="card-title">Landing page</h5>
                            <p class="card-text">Página de aterrizaje para campañas.</p>
                            <a class="btn btn-primary" href="#">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--FOOTER-->
        <footer>
            <div class="container-fluid text-center py-3" style="background-color: #081c30;">
                <div class="row align-items-center">
                    <div class="col-12 mb-3 mt-2 d-flex justify-content-center gap-2">
                        <a href="https://facebook.com" target="_blank"  class="btn btn-outline-light">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://x.com" target="_blank"  class="btn btn-outline-light">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href="https://instagram.com" target="_blank"  class="btn btn-outline-light">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </div>
                    <div class="col-12 text-white">
                        <p>Calle Ficticia 123, Sevilla</p>
                        <p>2026 PixelNova - Aviso Legal</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Script enlace de Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>